### Build directories ###
target/
build/

### IntelliJ IDEA ###
.idea/
!.idea/workspace.xml
!.idea/description.xml
!.idea/vcs.xml
*.iml

### Eclipse ###
.classpath
.factorypath
.project
.settings/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Compiled class files ###
*.class

### Log files ###
*.log

### Package files ###
*.jar
*.war
*.ear

### JVM crash logs ###
hs_err_pid*
replay_pid*